* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border-radius: 1%; */
  /* background-color: black; */
  }
  
  body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #371d0d;
  /* background-image: linear-gradient(to bottom, #DB1F2D, black); */
  /* background-color: #DB1F2D; */
}

main {
  border: 2em #DB1F2D solid;
  border-radius: 0%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #DB1F2D;
  border: .25em #DB1F2D solid;
  border-radius: 0%;
  
}

.outerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  background-color: #0F3D59;
  border: 0.1em #371d0d solid;
  border-radius: 2%;
  /* background: url(images/filmstrip.png); */
}

.altBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  padding: 2em;
  border: 0.1em #371d0d solid;
  background-color: #F2F2F2;
  color: #0F3D59;
  border-radius: 2%;

}

.dinnerMovie {
  margin-bottom: 0.5em;
  width: 60%;
  width: 450px;
}

.images {
  width: 1.5 em;
}

h2, h3, h4  {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  text-transform: uppercase;
  border: 0.1em #371d0d solid;
  background-color: #F2811D;
  color: #371d0d;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  padding: .5em;
  border-radius: 3%;
}

button:hover,
button:active {
  background-color: #F22929;
  color: #F2F2F2;
  border: 0.1em #371d0d solid;
}

input {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: 0.1em #BF212E solid;
  background-color: white;
  color: #371d0d;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  padding: .5em;
  border-radius: 3%;
}

footer {
  display: inline-flex;
  background-image: url(images/theaterSeats.jpeg);
}


@media only screen and (min-width: 550px) {

  .box {
    width: 26em;
    padding: 1em;
  }
  .outerBox {
    width: 30em;
    padding: 3em;
  }

  .button {
    margin-top: 1em;
    font-size: 1em;
    width: 10em;
    height: 2.5em;
  }

  h1,
  h3,
  legend {
    font-size: 1em;
  }

  .sizeMe {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 800px) {  
  
  .header li {
    margin: 1em;
    font-size: 1.3em;
  }

  .video {
    width: 560;
    height: 315;
    
  }

  .outerBox {
    width: 35em;
  }

  .box {
    width: 85%;
    height: 95%;
  }

  h1,
  h3,
  legend {
    font-size: 1.3em;
  }

  .sizeMe {
    font-size: 1em;
  }

  .button {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 12em;
    font-size: 1.2em;
  }
}
